html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* ........body........ */

body {
  margin: 0;
  padding: 0;
}

.content {
  position: absolute;
  bottom: 0;
  display: block;
  left: 52.2%;
  transform: translateX(-50%);
  max-width: 50em;
  min-width: 39.6em;
  align-items: center;
}

h2 {
  font-size: 4rem;
  line-height: 1.4;
  color: #fff;
  margin: 0;
}

span {
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-size: 2rem;
  margin: 0;
  padding: .5em 0 .75em;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.img-flex {
  width: 100%;
  display: block;
}
